<!DOCTYPE html>
<html>
  <head>
    <title>Schedule Generator WebApp - uOttawa</title>
    <meta name="description" content="School Schedule Parser and Generator for Google Calendar">
    <link id="favicon" rel="icon" href="https://cdn.hyperdev.com/us-east-1%3A3f3653fe-5bbe-4236-97c8-3748b536e20c%2Fcalendar.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/"><img width="100" height="100" src="https://cdn.hyperdev.com/us-east-1%3A3f3653fe-5bbe-4236-97c8-3748b536e20c%2Fcalendar.png" alt="calendar icon"></a>
      <h1>
        Schedule Generator - uOttawa
      </h1>
    </header>
  
    <main>
      gotta do it, gotta do it fast
    </main>

    <footer>
      Built by <a href="http://jonathanGB.com">Jonathan Guillotte-Blouin</a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
