body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #f5faff;
  margin-top: 10px;
  text-align: center;
  font-size: 12px !important;
}

h1 {
  font-weight: bold;
  color: pink;
  margin: 5px 0 60px 0;
}

.bold {
  font-weight: bold;
}

.hyp-btn {
  font-size: 16px;
  border-radius: 3px;
  background-color: #e5fff0;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  padding: 5px;
}

.hyp-btn:hover {
  background-color: yellow;
}

.hyp-btn:active {
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid lightgrey;
}

a {
  color: #4394af;
  text-decoration: none;
}

section {
  margin-top: 15px;
}

#wizard {
  display: none;
}

.wizard > .actions > ul {
  font-size: 18px;
}

div.content {
  font-size: 14px;
  text-align: left !important;
}

div.form {
  margin-top: 15px;
}

div.submit {
  margin-top: 30px;
}

.input-group-addon:hover {
  cursor: default;
}

#loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 3;
}

#loader img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
}

@media screen and (max-width: 340px) {
  .wizard > .steps > ul > li {
    width: auto !important;
  }
}