body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #f5faff;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

.hyp-btn {
  font-size: 16px;
  border-radius: 3px;
  background-color: #e5fff0;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  padding: 5px;
}

.hyp-btn:hover {
  background-color: yellow;
}

.hyp-btn:active {
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid lightgrey;
}

a {
  color: #4394af;
  text-decoration: none;
}

section {
  margin-top: 15px;
}
