body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #f5faff;
  margin-top: 10px;
  text-align: center;
  font-size: 12px !important;
}

h1 {
  font-weight: bold;
  color: pink;
  margin: 5px 0 60px 0;
}

h4 {
  font-size: 17px !important;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.glyphicon {
  top: 3px;
}

.row {
  margin-top: 20px;
}

.modal-body.row {
  margin: 0;
}

.hyp-btn {
  font-size: 16px;
  border-radius: 3px;
  background-color: #e5fff0;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  padding: 5px;
}

.hyp-btn:hover {
  background-color: yellow;
}

.hyp-btn:active {
  box-shadow: none;
}

li {
  list-style-type: none !important;
}

.semester-table {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

footer {
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightgrey;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

footer a {
  text-decoration: none;
}

#githubRepo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

a {
  color: #4394af;
  text-decoration: none;
}

#wizard, #schedule {
  display: none;
}

.wizard > .actions > ul {
  font-size: 18px;
}

div.content {
  font-size: 14px;
  text-align: left !important;
}

div.form {
  margin-top: 15px;
}

.form-group {
  margin: 0 !important;
}

div.submit {
  margin-top: 30px;
  padding-bottom: 10px;
}

.input-group-addon:hover {
  cursor: default;
}

#loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 3;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.pre-loader {
  background: url(/assets/small-loader.gif) center no-repeat, rgba(0,0,0,0.75) !important;
}

#wizard div.content {
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.all-centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#semesters {
  margin-bottom: 25px;
}

.chosen-colour {
  display: inline-block;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
  height: 32px;
}

.picked {
  box-shadow: 0px 0px 12px 2px #4394af;
  outline-style: none;
}

.course-colour {
  border-right: 1px solid #c5c5c5;
}

.course-colour:last-child {
  border-right: none;
}

.course-colour button {
  width: 100%;
  max-width: 300px;
}

.modal-body .chosen-colour {
  cursor: pointer;
}

#schedule {
  border: 1px solid #bfbdbd;
  border-radius: 10px;
  margin-top: 65px;
}

.semester-table {
  margin-top: 0;
  border-top: 1px solid #bfbdbd;
}

#schedule ul {
  padding: 0;
  display: inline-block;
  margin: 0 auto;
}

#schedule {
  word-wrap: break-word;
}

.semester-table li {
  font-size: 15px;
  font-style: italic;
  padding: 5px 0;
  border-bottom: 1px solid #bfbdbd;
}

.semester-table li:last-child {
  border-bottom: 0;
}

.generate-button {
  margin-top: 0;
  background-color: white;
  padding: 10px 0 20px 0;
  border-radius: 10px;
}

.semester-table:first-child {
  border: 0;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  #schedule h3 {
    font-size: 14px;
    font-weight: bold;
  }

  #schedule li {
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  .wizard > .steps > ul > li {
    width: auto !important;
  }

  .wizard > .steps > ul > li > a {
    margin: 0 5px;
  }
}

@media screen and (max-height: 700px) {
  .wizard > .content {
    min-height: 260px !important;
  }
}


.colour-id-1 {
  background-color: #a4bdfc;
  color: #1d1d1d;
}
.colour-id-2 {
  background-color: #7ae7bf;
  color: #1d1d1d;
}
.colour-id-3 {
  background-color: #dbadff;
  color: #1d1d1d;
}
.colour-id-4 {
  background-color: #ff887c;
  color: #1d1d1d;
}
.colour-id-5 {
  background-color: #fbd75b;
  color: #1d1d1d;
}
.colour-id-6 {
  background-color: #ffb878;
  color: #1d1d1d;
}
.colour-id-7 {
  background-color: #46d6db;
  color: #1d1d1d;
}
.colour-id-8 {
  background-color: #e1e1e1;
  color: #1d1d1d;
}
.colour-id-9 {
  background-color: #5484ed;
  color: #1d1d1d;
}
.colour-id-10 {
  background-color: #51b749;
  color: #1d1d1d;
}
.colour-id-11 {
  background-color: #dc2127;
  color: #1d1d1d;
}
